<!DOCTYPE html>
<html>
	<head>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content="Jobseek - Job Board Responsive HTML Template">
		<meta name="author" content="Coffeecream Themes, info@coffeecream.eu">
		<title>Jobseek - Job Board Responsive HTML Template</title>
		<link rel="shortcut icon" href="/resources/images/favicon.png">
	</head>

	<body id = "<%= @viewID %>">

		<%= yield %>

		<!-- ============ FOOTER START ============ -->

		<footer>
			<div id="prefooter">
				<div class="container">
					<div class="row">
						<div class="col-sm-6" id="newsletter">
							<h2>HABER BÜLTENİMİZE KAYDOLMAK İSTER MİSİNİZ?</h2>
							<form class="form-inline">
								<div class="form-group">
									<label class="sr-only" for="newsletter-email">E-posta adresiniz</label>
									<input type="email" class="form-control" id="newsletter-email" placeholder="E-posta adresinizi giriniz">
								</div>
								<button type="submit" class="btn btn-primary">
									KAYIT OL
								</button>
							</form>
						</div>
						<div class="col-sm-6" id="social-networks">
							<h2>SOSYAL MEDYA HESAPLARIMIZ</h2>
							<a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
							<a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
							<a href="#"><i class="fa fa-2x fa-google-plus-square"></i></a>
							<a href="#"><i class="fa fa-2x fa-youtube-square"></i></a>
							<a href="#"><i class="fa fa-2x fa-vimeo-square"></i></a>
							<a href="#"><i class="fa fa-2x fa-pinterest-square"></i></a>
							<a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div id="credits">
				<div class="container text-center">
					<div class="row">
						<div class="col-sm-12">
							&copy; 2016 Winnolingo - Slogan paylaşma platformu
							<br>
							Developers: <a href="http://www.facebook.com/onurdmrts" target="_blank">Onur DEMİRTAŞ</a> , <a href="https://www.facebook.com/oguz.2011" target="_blank">Oğuz TANRIKULU</a>
							<br>
							Idea By: <a href="https://www.facebook.com/onurates.verified" target="_blank">Onur ATEŞ</a>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<!-- ============ FOOTER END ============ -->

		<!-- ============ LOGIN START ============ -->

		<div class="popup" id="login">
			<div class="popup-form">
				<div class="popup-header">
					<a class="close"><i class="fa fa-remove fa-lg"></i></a>
					<h2>Login</h2>
				</div>
				<form>
					<ul class="social-login">
						<li>
							<a class="btn btn-facebook"><i class="fa fa-facebook"></i>Sign In with Facebook</a>
						</li>
						<li>
							<a class="btn btn-google"><i class="fa fa-google-plus"></i>Sign In with Google</a>
						</li>
						<li>
							<a class="btn btn-linkedin"><i class="fa fa-linkedin"></i>Sign In with LinkedIn</a>
						</li>
					</ul>
					<hr>
					<div class="form-group">
						<label for="login-username">Username</label>
						<input type="text" class="form-control" id="login-username">
					</div>
					<div class="form-group">
						<label for="login-password">Password</label>
						<input type="password" class="form-control" id="login-password">
					</div>
					<button type="submit" class="btn btn-primary">
						Sign In
					</button>
				</form>
			</div>
		</div>

		<!-- ============ LOGIN END ============ -->

		<!-- ============ REGISTER START ============ -->

		<div class="popup" id="register">
			<div class="popup-form">
				<div class="popup-header">
					<a class="close"><i class="fa fa-remove fa-lg"></i></a>
					<h2>Register</h2>
				</div>
				<%= form_for User.new, :remote => true do |t| %>
					<ul class="social-login">
						<li>
							<a class="btn btn-facebook"><i class="fa fa-facebook"></i>Register with Facebook</a>
						</li>
						<li>
							<a class="btn btn-google"><i class="fa fa-google-plus"></i>Register with Google</a>
						</li>
						<li>
							<a class="btn btn-linkedin"><i class="fa fa-linkedin"></i>Register with LinkedIn</a>
						</li>
					</ul>
					<hr>
					<div class="form-group">
						<label for="register-name">Name</label>
						<%= t.text_field :name, :class => 'form-control', :id => 'register-name' %>
					</div>
					<div class="form-group">
						<label for="register-surname">Surname</label>
						<%= t.text_field :surname, :class => 'form-control', :id => 'register-surname' %>
					</div>
					<div class="form-group">
						<label for="register-email">Email</label>
						<%= t.email_field :email, :class => 'form-control', :id => 'register-email' %>
					</div>
					<hr>
					<div class="form-group">
						<label for="register-username">Username</label>
						<%= t.text_field :username, :class => 'form-control', :id => 'register-username' %>
					</div>
					<div class="form-group">
						<label for="register-password1">Password</label>
						<%= t.password_field :password, :class => 'form-control', :id => 'register-password1' %>
					</div>
					<div class="form-group">
						<label for="register-password2">Repeat Password</label>
						<%= t.password_field :password_confirmation, :class => 'form-control', :id => 'register-password2' %>
					</div>
					<button type="submit" class="btn btn-primary">
						Register
					</button>
				<% end %>
			</div>
		</div>

		<!-- ============ REGISTER END ============ -->
		
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

		<script>
			$('.onecikanlar').slick({
				dots : true,
				infinite : false,
				rows : 3,
				slidesPerRow : 4,
				speed : 300,

				slidesToScroll : 1,
				responsive : [{
					breakpoint : 1024,
					settings : {
						slidesToShow : 3,
						slidesToScroll : 3,
						infinite : true,
						dots : true
					}
				}, {
					breakpoint : 600,
					settings : {
						slidesToShow : 2,
						slidesToScroll : 2
					}
				}, {
					breakpoint : 480,
					settings : {
						slidesToShow : 1,
						slidesToScroll : 1
					}
				}
				// You can unslick at a given breakpoint now by adding:
				// settings: "unslick"
				// instead of a settings object
				]
			});
			
			$(document).ready(function(){
			    $('#new_user').on('ajax:success',function(e, data, status, xhr){
			      alert(data);
			    }).on('ajax:error',function(e, xhr, status, error){
			      alert(data);
			    });
			  });
		</script>
	</body>
</html>